OPENAI_API_KEY=
TELEGRAM_BOT_TOKEN=123456:ABC-DEF...
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT='https://api.smith.langchain.com'
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

# Model Configuration
LLM_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small